VIPAT_ENVIRONMENT=DEV
VIPAT_VIDEOIPATH_SERVER_ADDRESS=vip.company.com
VIPAT_VIDEOIPATH_USERNAME=user_with_api_access
VIPAT_VIDEOIPATH_PASSWORD=veryStrongPassword
VIPAT_USE_HTTPS=true
VIPAT_VERIFY_SSL_CERT=false
VIPAT_LOG_LEVEL=debug